body {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
}
/* .container {
    width: 1140px;
    margin: 0 auto;
} */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
.card{
    background-color: transparent;
    border: none;
}
.clear {
    clear: both;
}
/* HEADER STYLE */
header .topheader {
    background-color: rgba(14, 6, 27, 0.95);
    padding: 20px 0;
    border-bottom: 1px solid rgba(185, 115, 251, 0.1);
}

header .topheader .buttons {
    display: flex;
    justify-content: space-between;
}
header .buttons .book, .join{
    margin-top: 14px;
}
header .topheader .buttons .logo img {
    height: 48px;
    margin-right: 20%;
}
header .topheader .buttons .book a {
    background-color: transparent;
    border: 2px solid #b973fb;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #b973fb;
    padding: 10px 24px;
    border-radius: 20px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 6px #B973FB;
}

header .topheader .buttons .book a:hover {
    background-color: #b973fb;
    color: white;
    box-shadow: 0 0 15px #b973fb;
}

header .topheader .buttons .join a {
    background: linear-gradient(to right, #3c6cfb 0%, #b973fb 100%);
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 20px;
    letter-spacing: 1px;
}

header .topheader .buttons .join a:hover {
    background: linear-gradient(to right, #b973fb 0%, #3c6cfb 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}

header .btmheader {
    background-color: white;
}
header .btmheader .navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
.navbar-light .navbar-toggler {
    color: rgb(26 19 39);
    border: 2px solid;
    border-color: rgb(26 19 39);
}
/* header .btmheader .menu {
    text-align: center;
    padding: 8px;
} */
/* header .btmheader .menu nav a {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #1B0C31;
    letter-spacing: 1px;
    margin: 0 20px;
} */
header .btmheader .navbar-light .navbar-nav .nav-link{
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #1B0C31;
    letter-spacing: 1px;
    margin: 0 20px;
}
header .btmheader .navbar-light .navbar-nav .nav-link:hover{
    color: #b973fb;
}
header .btmheader .navbar-light .navbar-nav .nav-link.active{
    color: #b973fb;
}
/* header .btmheader .menu nav a:hover {
    color: #b973fb;
}
header .btmheader .menu nav a.active {
    color: #b973fb;
} */
/* BANNER & SEARCH */
.banner {
    background-image: url(../images/page-banner.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    background: linear-gradient(180deg, rgba(27, 12, 49, 0.7) 0%, rgba(27, 12, 49, 0.95) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.banner h2 {
    font-size: 50px;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.banner h1 {
    font-size: 120px;
    line-height: 90px;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to right, rgb(255 255 255 / 50%) 0%, rgb(225 193 255 / 50%) 99%);
    background-clip: text;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    letter-spacing: 4px;
}
.banner .search{
    position: relative;
}

.banner form .search input {
    width: 46%;
    padding: 14px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(14, 6, 27, 0.505);
    color: white;
    font-size: 16px;
}

.banner form .search i {
    color: #3c6cfb;
    font-size: 20px;
    position: absolute;
    top: 28%;
    left: 42%;
    right: 24px;
}


.banner form input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

/* FEATURED PAGES SECTION */
.pages {
    padding: 100px 0;
    background-color: #1B0C31;
    text-align: center;
}

.pages article {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 50px;
}
.pages article i{
    color: #b973fb;
    font-size: 20px;
    text-shadow: 0 0 4px #b973fb;
}
.pages article h2{
    color: white;
    font-family: "Rajdhani", sans-serif;
}
/* .pages .image{
    display: flex;
    justify-content: space-around;
} */
 .pages .image .item{
    margin-bottom: 30px;
 }
.pages .image .item svg{
    margin-bottom: 10px;
    filter: drop-shadow(0 0 6px rgba(185,115,251,1));
}
.pages .image .item a{
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.pages .image .item a:hover{
    color: #b973fb;
}
.expert{
    padding: 100px 0;
    background-color: black;
    text-align: center;
}
.expert h2{
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: transparent;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(215,172,255,1) 74%);
    background-clip: text;
    text-decoration: underline;
    line-height: 40px;
    margin-bottom: 80px;
}
.expert .first, .second, .third{
    /* display: flex;
    justify-content: space-between; */
    border-radius: 12px;
    border:4px solid transparent;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,1) 13%,rgba(6,0,121,1) 89%),
        linear-gradient(to bottom, rgba(0,0,0,1) 13%,rgba(255,255,255,1) 89%);
    background-origin:border-box;
    background-clip:padding-box,border-box;
    margin-bottom: 50px;
}
.expert .fourth{
    /* display: flex;
    justify-content: space-between; */
    border-radius: 12px;
    border:4px solid transparent;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,1) 13%,rgba(6,0,121,1) 89%),
        linear-gradient(to bottom, rgba(0,0,0,1) 13%,rgba(255,255,255,1) 89%);
    background-origin:border-box;
    background-clip:padding-box,border-box;
    margin-bottom: 100px;
}
.expert .first .picture img, .third .picture img{
    width: 100%;
    border-radius: 10px;
    border:4px solid transparent;
    background-image:
        linear-gradient(#01001300,#01001300),
        linear-gradient(to bottom, rgba(255,255,255,1) 11%,rgba(0,0,0,1) 87%);
    background-origin:border-box;
    background-clip:padding-box,border-box;
    transition: all 2s;
}
.expert .first .picture img:hover, 
        .third .picture img:hover{
            transform: rotateY(180deg);
        }
.expert .second .picture img, .fourth .picture img{
    width: 100%;
    border-radius: 10px;
    border:4px solid transparent;
    background-image:
        linear-gradient(#01001300,#01001300),
        linear-gradient(to bottom, rgba(255,255,255,1) 11%,rgba(0,0,0,1) 87%);
    background-origin:border-box;
    background-clip:padding-box,border-box;
    transition: all 2s;
}
.expert .second .picture img:hover,
        .fourth .picture img:hover{
            transform: rotateY(180deg);
        }
.expert .first .detail,
        .second .detail,
        .third .detail,
        .fourth .detail{
    text-align: left;
}
.expert .first .detail h4{
    margin-top: 34px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .third .detail h4{
    margin-top: 42px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .second .detail h4{
    margin-top: 26px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .fourth .detail h4{
    margin-top: 34px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .first .detail p,
        .third .detail p{
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-bottom: 22px;
}
.expert .fourth .detail p{
    margin-left: 40px;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-bottom: 22px;
}
.expert .second .detail p{
    margin-left: 40px;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
}
.expert .first .detail .ui,
        .second .detail .ui,
        .third .detail .ui,
        .fourth .detail .ui{
    margin-bottom: 10px;
}
.expert .first .detail .ux,
        .third .detail .ux,
        .fourth .detail .ux{
    margin-bottom: 25px;
}
.expert .second .detail .ux{
    margin-bottom: 10px;
}
.expert .first .detail .ui mark, .ux mark,
        .second .detail .ui mark, .ux mark,
        .third .detail .ui mark, .ux mark,
        .fourth .detail .ui mark, .ux mark{
    background-color: transparent;
    color: #B973FB;
}
.expert .first .detail .ui a,
        .third .detail .ui a{
    margin-right: 40px;
    font-size: 14px;
    color: white;
    font-weight: 300;
}
.expert .second .detail .ui a,
        .fourth .detail .ui a{
    margin-left: 40px;
    font-size: 14px;
    color: white;
    font-weight: 300;
}
.expert .first .detail .ui a:hover,
        .second .detail .ui a:hover,
        .third .detail .ui a:hover,
        .fourth .detail .ui a:hover{
    color: #B973FB;
    font-weight: 500;
}
.expert .first .detail .ux a,
        .third .detail .ux a{
    margin-right: 58px;
    font-size: 14px;
    color: white;
    font-weight: 300;
}
.expert .second .detail .ux a,
        .fourth .detail .ux a{
    margin-left: 40px;
    font-size: 14px;
    color: white;
    font-weight: 300;
}
.expert .first .detail .ux a:hover,
        .second .detail .ux a:hover,
        .third .detail .ux a:hover,
        .fourth .detail .ux a:hover{
    color: #B973FB;
    font-weight: 500;
}
.expert .first .detail .more,
        .third .detail .more{
    color: #B973FB;
    font-weight: 600;
    float: right;
    margin-right: 36px;
}
.expert .second .detail .more,
        .fourth .detail .more{
    color: #B973FB;
    font-weight: 600;
    float: right;
}
.expert .first .detail .more:hover,
        .second .detail .more:hover,
        .third .detail .more:hover,
        .fourth .detail .more:hover{
    color: #0ea5ff;
    font-weight: 900;
}
.expert .btn{
    background: linear-gradient(to right, #3c6cfb 0%, #b973fb 100%);
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 20px;
    letter-spacing: 1px;
}

.expert .btn:hover {
    background: linear-gradient(to right, #b973fb 0%, #3c6cfb 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}
.portfolio{
    padding: 100px 0;
    background: linear-gradient(to right, rgba(242,229,255,1) 0%,rgba(204,216,255,1) 100%);
    text-align: center;
}
.portfolio h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #B973FB;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    padding: 4px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.596);
    margin-bottom: 20px;
}
.portfolio h2{
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: transparent;
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(36,64,149,1) 100%);
    background-clip: text;
    text-decoration: underline;
    line-height: 40px;
    margin-bottom: 20px;
}
.portfolio p{
    color: #6A6A6A;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
/* .portfolio nav a{
    margin: 0 10px;
    padding: 6px 20px;
    border-radius: 30px;
    color: #803CFB;
    border:2px solid transparent;
    background-image:
        linear-gradient(to right, rgba(242,229,255,1) 0%,rgba(204,216,255,1) 100%),
        linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(185,115,251,1) 100%);
    background-origin:border-box;
    background-clip:padding-box,border-box;
} */
.portfolio .btn-secondary{
    margin: 0 10px;
    padding: 6px 20px;
    border-radius: 30px;
    color: #803CFB;
    margin-bottom: 10px;
    border:2px solid transparent;
    background-image:
        linear-gradient(to right, rgba(242,229,255,1) 0%,rgba(204,216,255,1) 100%),
        linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(185,115,251,1) 100%);
    background-origin:border-box;
    background-clip:padding-box,border-box;
}
.portfolio .btn-secondary:hover{
    color: white;
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}
.portfolio .btn-secondary .all{
    color: white;
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}
/* .portfolio nav a:hover{
    color: white;
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
} */
/* .portfolio nav .all{
    color: white;
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
} */
.portfolio .works{
    /* display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; */
    margin: 80px auto;
}
.portfolio .works .task{
    background-color: white;
  
    border-radius: 16px;
    padding-bottom: 1px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
    margin-bottom: 80px;
    position: relative;
}
.portfolio .works .task .overlay0{
    position: absolute;
    background-color: #1b0c31b5;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 82px 0;
    top: 0px;
    bottom: 137px;
    right: 0;
    left: 0;
    opacity: 0;
}
.portfolio .works .task .overlay0:hover{
    opacity: 1;
}
.portfolio .works .task .overlay0 a{
    color: #E8EEFF;
    font-size: 20px;
    font-weight: 400;
}
.portfolio .works .task .overlay0 a:hover{
    color: #cf9cff;
    font-weight: 600;
}
.portfolio .works .task img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 20px;
}
.portfolio .works .task a{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.portfolio .works .task a:hover{
    color: #8402FF;
    font-weight: 900;
}
.portfolio .works .task p{
    color: #6A6A6A;
    font-size: 18px;
    margin-top: 16px;
}
.portfolio .projects{
    background-color: transparent;
    border: 2px solid #8402FF;
    border-radius: 30px;
    color: #803CFB;
    padding: 10px 50px;
    font-weight: 600;
    box-shadow: inset 0 0 6px #803cfb;
}
.portfolio .projects:hover{
    background-color: #8402FF;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(128,60,251,1);
}
.faq{
    padding: 100px 0;
    background-color: black;
    background-image: url(../images/question.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 46%;
}
/* .faq .head{
    display: flex;
    justify-content: space-between;
} */
.faq h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #B973FB;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    padding: 4px 15px;
    box-shadow: 0 4px 6px rgba(185,115,251,1);
    margin-bottom: 20px;
}
.faq h2{
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: transparent;
    background: linear-gradient(to right, rgba(255,255,255,1) 10%,rgba(185,115,251,1) 40%);
    background-clip: text;
    text-decoration: underline;
    line-height: 40px;
    margin-bottom: 60px;
}
.faq a{
    margin-top: 50px;
    margin-bottom: 30px;
    float: right;
    color: white;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(185,115,251,1) 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.596);
}
.faq a:hover{
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}
/* .faq .prism{
    background-image: url(../images/question.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.faq .prism details{
    width: 40%;
    padding: 20px 24px;
    background-color: white;
    border: 1px solid #0ea5ff;
    box-shadow: inset 0 2px 8px #0ea7ffce;
    border-radius: 8px;
    margin-bottom: 10px;
} */
 /* .faq .answer{
    background-image: url(../images/question.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
 } */
 .faq .accordion-item {
    background-color: white;
    border: 1px solid #0ea5ff;
    box-shadow: inset 0 2px 10px #0ea7ffce;
    border-radius: 8px;
    margin-bottom: 10px;
}
.faq .accordion-header{
    border: 1px solid #0ea5ff;
    box-shadow: inset 0 2px 10px #0ea7ffce;
    border-radius: 8px;
}
.faq .accordion-body{
    background-color: #803CFB;
    color: white;
    border-radius: 8px;
}
.faq .accordion-button{
    border: 1px solid #0ea5ff;
    box-shadow: inset 0 2px 4px #0ea7ffce;
    border-radius: 8px;
    color: #803CFB;
    font-size: 20px;
    font-weight: 600;
}
.faq .ask{
    margin-top: 50px;
    position: relative;
}
.faq .ask label{
    display: block;
    color: #B973FB;
    font-size: 18px;
    margin-bottom: 5px;
}
.faq .ask input[type="text"]{
    display: block;
    width: 50%;
    border-radius: 8px;
    padding: 8px 40px;
    border: 2px solid #B973FB;
    box-shadow: inset 0 0 6px #B973FB;
}
.faq .ask .pen{
    position: absolute;
    top: 37px;
    left: 16px;
    color: #0ea5ff;
    font-size: 20px;
    filter: drop-shadow(2px 4px 2px rgb(0, 170, 255));
}
.faq .ask .question{
   position: absolute;
    top: 36px;
    left: 47%;
    color: #8402FF;
    font-size: 30px; 
    filter: drop-shadow(0 0 2px rgba(128,60,251,1));
}
.faq .ask input[type="submit"]{
    margin-top: 10px;
    border-radius: 30px;
    padding: 8px 50px;
    font-weight: 600;
    border: 2px solid #B973FB;
    background-color: transparent;
    color: #B973FB;
    box-shadow: inset 0 0 8px #b973fb;
}
.faq .ask input[type="submit"]:hover{
    color: white;
    background-color: #B973FB;
    box-shadow: 0 0 20px #b973fb;
}
.blog{
    padding: 100px 0;
    text-align: center;
    border-bottom: 3px solid transparent;
    background-image: 
            linear-gradient(to right, rgba(242,229,255,1) 0%,rgba(229,235,255,1) 98%),
            linear-gradient(to right, rgba(215,172,255,1) 0%,rgba(128,60,251,1) 98%);
    background-origin:border-box;
    background-clip:padding-box,border-box;  
}
.blog h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #B973FB;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    padding: 4px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.596);
    margin-bottom: 20px;
}
.blog h2{
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: transparent;
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(36,64,149,1) 100%);
    background-clip: text;
    text-decoration: underline;
    line-height: 40px;
    margin-bottom: 20px;
}
.blog p{
    color: #6A6A6A;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
/* .blog .posts{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
} */
.blog .posts .image ,.image2{
    background-color: white;
    width: 360px;
    border-radius: 16px;
    margin-right: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
    margin-bottom: 80px;
    overflow: hidden;
}
.blog .posts .image img, .image2 img{
    width: 360px;
    height: 220px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all 1s;
}
.blog .posts .image img:hover, .image2 img:hover{
    transform: scale(1.1);
}
.blog .posts .image .text, .image2 .text{
    padding: 30px;
    text-align: left;
}
.blog .posts .image mark{
    background-color: #D8EFFF;
    color: #0088FF;
    font-weight: 400;
    padding: 2px 12px;
    border-radius: 20px;
}
.blog .posts .image2 mark{
    background-color: #F2E5FF;
    color: #8402FF;
    font-weight: 400;
    padding: 2px 12px;
    border-radius: 20px;
}
.blog .posts .image time, .image2 time{
    float: right;
    color: #202020;
}
.blog .posts .image i, .image2 i{
    color: #202020;
    margin-right: 5px;
}
.blog .posts .image h4, .image2 h4{
    margin-top: 30px;
    margin-bottom: 30px;
}
.blog .posts .image a, .image2 a{
    color: black;
    font-weight: 900;
    font-size: 18px;
}
.blog .posts .image a:hover, .image2 a:hover{
    color: #8402FF;
}
.blog .posts .image p, .image2 p{
    color: #202020;
    line-height: 30px;
    font-size: 14px;
}
.blog .posts .image .read, .image2 .read{
    color: #0088FF;
    font-weight: 600;
}
.blog .posts .image .read i, .image2 .read i{
    color: #0088FF;
    font-weight: 600;
}
.blog .posts .image .read:hover, .image2 .read:hover{
    color: #B973FB;
}
.blog .button{
    color: white;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(185,115,251,1) 100%);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.452);
}
.blog .button:hover{
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}
.testimonials{
    padding: 100px 0;
    text-align: center;
    border-bottom: 3px solid transparent;
    background-image: 
            linear-gradient(to right, rgba(40,14,93,1) 30%,rgba(2,37,101,1) 100%),
            linear-gradient(to right, rgba(215,172,255,1) 0%,rgba(255,255,255,1) 98%);
    background-origin:border-box;
    background-clip:padding-box,border-box;
}
.testimonials h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #B973FB;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    padding: 4px 15px;
    box-shadow: 0 4px 6px rgba(60, 108, 251, 0.8);
    margin-bottom: 20px;
}
.testimonials h2{
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: transparent;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(185,115,251,1) 100%);
    background-clip: text;
    text-decoration: underline;
    line-height: 40px;
    margin-bottom: 40px;
}
.testimonials p{
    font-size: 18px;
    font-weight: 300;
    color: white;
    letter-spacing: 1px;
}
.testimonials .clients{
    margin-top: 80px;
    /* display: flex;
    justify-content: space-around;
    gap: 30px; */
    text-align: left;
    margin-bottom: 80px;
}
.testimonials .clients .name{
    /* width: 300px;
    height: 250px; */
    padding: 30px 28px 42px;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #001F54;
    border-top: 3px solid #C486FF;
    box-shadow: 0 4px 6px rgb(255 148 221 / 26%);
    transition: transform 0.3s ease;
}
.testimonials .clients .name:hover{
    transform: translateY(-10px);
}
.testimonials .clients .name i{
    font-size: 32px;
    color: #3c6cfb;
    text-shadow: 0 0 6px rgba(60,107,251,1);
}
.testimonials .clients .name p{
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 30px;
    position: relative;
}
.testimonials .clients .name p::after{
    position: absolute;
    content: "";
    background-color: #3c6cfb61;
    width: 300px;
    height: 1px;
    top: 132px;
    left: 0;
}
.testimonials .clients .name .picture{
    display: flex;
    gap: 40px;
}
.testimonials .clients .name .picture img{
    width: 50px;
    border-radius: 100%;
    transition: all 2s;
}
.testimonials .clients .name .picture img:hover{
    transform: rotate(360deg);
}
.testimonials .clients .name .picture a{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.testimonials .clients .name .picture a:hover{
    color: #B973FB;
}
.testimonials .clients .name .picture h6{
    color: transparent;
    background: linear-gradient(to right, rgba(144,171,255,1) 0%,rgba(215,172,255,1) 98%);
    background-clip: text;
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
}
.testimonials .view{
    color: white;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(185,115,251,1) 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.596);
}
.testimonials .view:hover{
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}
.business{
    padding: 100px 0;
    background-image: url(../images/cover.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.business .overlayyy{
    position: absolute;
    background-color: #00000088;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.business h2{
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: transparent;
    background: linear-gradient(to right, rgba(255,255,255,1) 7%,rgba(0,136,255,1) 92%);
    background-clip: text;
    line-height: 40px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.business p{
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
}
.business .start{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 40px;
    padding: 10px 50px;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(185,115,251,1) 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.596);
    position: relative;
    z-index: 1;
}
.business .start:hover{
    background: linear-gradient(to right, rgba(185,115,251,1) 0%,rgba(60,107,251,1) 100%);
    box-shadow: 0 0 20px rgba(60, 108, 251, 0.8);
}
.business .contact{
    color: #b973fb;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 37px;
    border-radius: 30px;
    border: 2px solid #b973fb;
    box-shadow: inset 0 0 6px #b973fb;
    position: relative;
    z-index: 1;
}
.business .contact:hover{
    color: white;
    background-color: #b973fb;
    box-shadow: 0 0 20px #b973fb;
}
footer{
    background-image: url(../images/footer-banner-prism.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer .topfoot{
    padding: 100px 0;
    position: relative;
}
.overlayy{
    position: absolute;
    background-color: #1b0c31bf;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
footer .topfoot .content{
    /* display: flex;
    justify-content: space-evenly; */
    position: relative;
    z-index: 1;
}
footer .topfoot .content .imp, .links, .works, .industry, .touch{
    margin-bottom: 60px;
}
footer .topfoot .content .imp img{
    width: 60%;
    margin-bottom: 20px;
}
footer .topfoot .content .imp p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}
footer .topfoot .content .imp mark{
    background-color: transparent;
    font-size: 14px;
    color: white;
    font-weight: 300;
}
footer .topfoot .content .imp form input{
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.628);
    border: 2px solid #36415F;
    position: relative;
}
footer .topfoot .content .imp form a{
    position: absolute;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #0ea5ff;
    top: 198px;
    left: 174px;
}
footer .topfoot .content .links, .works, .industry, .touch{
    margin-left: 40px;
}
footer .topfoot .content .links h4, .works h4, .industry h4, .touch h4{
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: transparent;
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(255,255,255,1) 43%);
    background-clip: text;
    line-height: 30px;
    margin-bottom: 30px;
    position: relative;
}
footer .topfoot .content h4::after{
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba(60,107,251,1) 0%,rgba(185,115,251,1) 100%);
    width: 50px;
    height: 3px;
    top: 30px;
    left: 0;
}
footer .topfoot .content .links .home li, .works .cloud li, .industry .health li, .touch .address li{
    margin-bottom: 16px;
}
footer .topfoot .content .links .home li a, .works .cloud li a, .industry .health li a, .touch .address li a{
    color: white;
    font-weight: 400;
}
footer .topfoot .content .touch{
    position: relative;
}
footer .topfoot .content .touch::before{
    position: absolute;
    content: "";
    background-color: #36415F;
    width: 2px;
    top: 0px;
    height: 100%;
    right: 110%;
    bottom: 0%;
}
footer .topfoot .content .touch .address li a i{
    color: #0088FF;
    font-size: 18px;
}
footer .topfoot .content .links .home li a:hover, 
.works .cloud li a:hover, 
.industry .health li a:hover, 
.touch .address li a:hover{
    color: #cf9cff;
}
footer .topfoot .content .touch nav{
    margin-top: 40px;
}
footer .topfoot .content .touch nav .fb{
    margin: 20px 5px;
    color: #C486FF;
    font-size: 18px;
    border-radius: 100%;
    padding: 10px 15px;
    border: 1px solid #C486FF;
    box-shadow: inset 0 0 4px #C486FF;
}
footer .topfoot .content .touch nav .fb:hover{
    background-color: #b973fb;
    color: white;
    box-shadow: 0 0 15px #b973fb;
}
footer .topfoot .content .touch nav .in{
    margin-right: 5px;
    color: #C486FF;
    font-size: 18px;
    border-radius: 100%;
    padding: 10px 12px;
    border: 1px solid #C486FF;
    box-shadow: inset 0 0 4px #C486FF;
}
footer .topfoot .content .touch nav .in:hover{
    background-color: #b973fb;
    color: white;
    box-shadow: 0 0 15px #b973fb;
}
footer .topfoot .content .touch nav .twit{
    margin-right: 5px;
    color: #C486FF;
    font-size: 18px;
    border-radius: 100%;
    padding: 10px 11px;
    border: 1px solid #C486FF;
    box-shadow: inset 0 0 4px #C486FF;
}
footer .topfoot .content .touch nav .twit:hover{
    background-color: #b973fb;
    color: white;
    box-shadow: 0 0 15px #b973fb;
}
footer .topfoot .content .touch nav .you{
    margin-right: 5px;
    color: #C486FF;
    font-size: 18px;
    border-radius: 100%;
    padding: 10px 11px;
    border: 1px solid #C486FF;
    box-shadow: inset 0 0 4px #C486FF;
}
footer .topfoot .content .touch nav .you:hover{
    background-color: #b973fb;
    color: white;
    box-shadow: 0 0 15px #b973fb;
}

footer .btmfoot{
    padding: 10px 0;
}
footer .btmfoot .copyright{
    margin-top: 14px;
}
footer .btmfoot .copyright .copy p{
    font-size: 11px;
    color: white;
}
footer .btmfoot .copyright .all p{
    font-size: 14px;
    color: white;
}
footer .btmfoot .copyright .right p{
    font-size: 13px;
    color: white;
}
footer .btmfoot .copyright .right mark{
    background-color: transparent;
}
footer .btmfoot .copyright .right mark .ejob{
    color: #0ea5ff;
}
footer .btmfoot .copyright .right mark .ejob:hover{
    color: #0088FF;
}
footer .btmfoot .copyright .right mark a{
    color: #a676ff;
    font-weight: 600;
}
footer .btmfoot .copyright .right mark a:hover{
    color: #cf9cff;
}




@media (max-width: 768px) {



    .banner h2 {
    font-size: 40px;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.banner h1 {
    font-size: 62px;
    line-height: 90px;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to right, rgb(255 255 255 / 50%) 0%, rgb(225 193 255 / 50%) 99%);
    background-clip: text;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    letter-spacing: 4px;
}





.expert .first .detail,
        .second .detail,
        .third .detail,
        .fourth .detail{
    text-align: left;
    padding-bottom: 54px;
}
.expert .first .detail h4{
    margin-bottom: 10px;
    margin-top: 34px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .third .detail h4{
    margin-bottom: 10px;
    margin-top: 42px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .second .detail h4{
    margin-bottom: 10px;
    margin-top: 26px;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .fourth .detail h4{
    margin-bottom: 10px;
    margin-top: 34px;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-decoration: underline;
}
.expert .first .detail p,
        .third .detail p{
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-bottom: 22px;
}
.expert .fourth .detail p{
    margin-left: 0;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-bottom: 22px;
}
.expert .second .detail p{
    margin-left: 0;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
}
.expert .second .detail .ui a,
        .fourth .detail .ui a{
    margin-left: 0;
    font-size: 14px;
    color: white;
    font-weight: 300;
}
.expert .second .detail .ux a,
        .fourth .detail .ux a{
    margin-left: 0;
    font-size: 14px;
    color: white;
    font-weight: 300;
}
.expert .first .detail .more,
        .third .detail .more{
    color: #B973FB;
    font-weight: 600;
    float: right;
    margin-right: 0;
}




.blog .posts .image ,.image2{
    background-color: white;
    width: 100%;
    border-radius: 16px;
    margin-right: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
    margin-bottom: 80px;
}
.blog .posts .image img, .image2 img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}



.faq .ask{
    margin-top: 50px;
    position: relative;
}
.faq .ask label{
    display: block;
    color: #B973FB;
    font-size: 18px;
    margin-bottom: 5px;
}
.faq .ask input[type="text"]{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px 40px;
    border: 2px solid #B973FB;
    box-shadow: inset 0 0 6px #B973FB;
}
.faq .ask .pen{
    position: absolute;
    top: 37px;
    left: 14px;
    color: #0ea5ff;
    font-size: 20px;
    filter: drop-shadow(2px 4px 2px rgb(0, 170, 255));
}
.faq .ask .question{
   position: absolute;
    top: 36px;
    left: 94%;
    color: #8402FF;
    font-size: 30px; 
    filter: drop-shadow(0 0 2px rgba(128,60,251,1));
}
.faq .ask input[type="submit"]{
    margin-top: 10px;
    border-radius: 30px;
    padding: 8px 50px;
    font-weight: 600;
    border: 2px solid #B973FB;
    background-color: transparent;
    color: #B973FB;
    box-shadow: inset 0 0 8px #b973fb;
}
.faq .ask input[type="submit"]:hover{
    color: white;
    background-color: #B973FB;
    box-shadow: 0 0 20px #b973fb;
}




.testimonials .clients .name p{
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    position: relative;
}
.testimonials .clients .name p::after{
    position: absolute;
    content: "";
    background-color: #3c6cfb61;
    width: 300px;
    height: 1px;
    top: 81px;
    left: 0;
}




footer .topfoot .content .imp, .links, .works, .industry, .touch{
    margin-bottom: 60px;
}
footer .topfoot .content .imp img{
    width: 30%;
    margin-bottom: 20px;
}
footer .topfoot .content .imp p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}
footer .topfoot .content .imp mark{
    background-color: transparent;
    font-size: 14px;
    color: white;
    font-weight: 300;
}

footer .topfoot .content .imp form input{
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.628);
    border: 2px solid #36415F;
    position: relative;
}
footer .topfoot .content .imp form a{
    position: absolute;
    color: white;
    padding: 10px 14px;
        border-radius: 5px;
        background-color: #0ea5ff;
        top: 174px;
        left: 78%;
}
footer .topfoot .content .links, .works, .industry, .touch{
    margin-left: 0;
}



}